
#overview {
  box-shadow: 0 0 14px -10px var(--colorsecondary)
}

#amenities,
#connectivity,
#gallery,
#highlight,
#overview1,
#planspricing,
#projectWalkthorugh {
  scroll-margin-top: 70px
}

.highlightpoints,
.nav-item-list li,
.offerlist li {
  list-style-type: none
}

.AnimatePrice,
.amenitiesCard,
.bannerTrack,
.bannersticky,
.clampText,
.floorCard,
.galleryCard,
.noscroll {
  overflow: hidden
}


.bannersticky {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh
}

.bannersticky img {
  width: 100vw;
  height: 100vh;
  object-fit: cover
}

.background-binder {
  background-color: #fff;
  padding: 2rem 0
}



/* .sideEnquireBtn {
  position: fixed;
  top: 30%;
  right: -45px;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center center;
  z-index: 9999;
  padding: .6rem 1.2rem;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  cursor: pointer;
  border: 2px solid var(--colorprimary);
  border-bottom: 0
} */


.bannerSlides,
.overviewImg {
  transition: transform 1s ease-in-out;
  box-sizing: border-box
}


.highlightpoints,
.nav-item-list,
.offerlist {
  padding: 0
}



.overview,
.overviewImg {
  position: relative
}


#overview {
  padding: 1rem;
  border-radius: 10px;
  background-color: #fafafa;
  display: flex;
  margin: 0 5rem 1rem;
  align-items: center;
  gap: 2rem
}

.overviewImg {
  flex: 0 0 50%
}

.overviewImg:hover {
  transform: scale(1.05)
}

.overviewImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px
}

.overviewBtn {
  color: #fff;
  background-color: var(--colorsecondary);
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  border: 0;
  align-items: center;
  gap: 1rem;
  padding: .5rem 2rem;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  font-size: 1rem
}

.overviewContainer {
  color: #000
}

.sectionHeading {
  font-size: 45px;
  color: var(--colorsecondary);
  text-align: center;
  margin: .5rem 0 15px
}

.amenities-description,
.highlightBtn,
.readMoreBtn {
  color: var(--colorprimary)
}

.clampText {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 15px
}

.readMoreBtn {
  font-weight: 700
}

.readMoreBtn:focus,
.readMoreBtn:hover {
  text-decoration: underline
}

#highlight {
  margin: 2rem 5rem;
  border-radius: 10px
}

.highlightContainer {
  padding: 1rem;
  display: flex;
  gap: 2rem
}
.highlightpoints {
  display: block;
}

.highlightlist-container {
  flex: 0 0 60%
}

.highlightpoints li {
  flex: 0 0 100%;
  padding: .5rem;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* .highlight-listnumber {
    border: 3px solid #e2e2e3;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 700;
} */

.highlight-questionContainer {
  text-align: center;
  margin: auto;
  flex: 0 0 40%;
  box-shadow: 0 0 14px -10px #0e2b4c;
  padding: 0 0 1.5rem;
  border-radius: 10px;
}

.highlightBtn {
  background-color: transparent;
  margin: 0 auto;
  border: 0
}

.AnimatePrice {
  display: block;
  padding: 2px;
  position: relative;
  border-radius: 14px;
  background: rgba(14, 43, 76, .2);
  transition: 1s linear;
  width: fit-content;
  text-align: center;
  margin: 2rem auto 0
}

.amenities,
.projectWalkthorugh {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px
}

.AnimatePrice .highlightBtn {
  position: relative;
  color: #0e2b4c;
  background: #fff;
  border-radius: 14px;
  padding: .5rem 2rem
}

@keyframes rotate {
  from {
    rotate: 0deg
  }

  to {
    rotate: 360deg
  }
}

.highlight-questionheading {
  font-size: 1.5rem;
  color: var(--colorprimary);
  margin: 1rem 0
}

.projectWalkthorugh {
  margin: 2rem 5rem
}

.amenities {
  margin: 2rem 5rem 1rem
}

.amenitiesCauroselContainer {
  overflow: hidden;
}

.amenitiesCaurosel,
.floorCaurosel,
.galleryCaurosel {
  overflow: hidden;
  width: 100%;
  position: relative
}

.amenitiesSlide,
.gallerySlide {
  width: 100%;
  display: flex;
  gap: 3.33%;
  flex-wrap: nowrap;
  transition: transform 1s ease-in-out;
  justify-content: flex-start;
  margin-left: 1.5%;
}

.amenitiesCard {
  flex: 0 0 30%;
  box-sizing: border-box;
  transition: transform .5s ease-in-out;
  position: relative
}

.amenitiesCard img,
.galleryCard img {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  object-fit: cover
}

.amenities-description {
  background-color: rgb(255, 255, 255, .9);
  z-index: 1000;
  position: absolute;
  bottom: 0;
  padding: .5rem 1rem;
  border-radius: 0 10px;
  font-weight: 600;
  text-wrap: nowrap;
  margin: 0
}

.amenitiesCard:hover {
  transform: scale(1.02)
}

.amenitiesindicator,
.galleryindicator {
  position: absolute;
  top: 1.5rem;
  right: 6rem
}

.amenities-overlay,
.gallery-overlay {
  position: fixed;
  top: 0rem;
  /* padding: 5rem 0; */
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(8px);
  z-index: 5000
}

.amenities-overlay.active,.gallery-overlay.active {display: block;}

.amenities-popupWrapper,
.gallery-popupWrapper {
  display: block;
  padding: 0;
  position: relative
}

.amenities-popup,.gallery-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.amenities-popup-imageholder,
.gallery-popup-imageholder {
  width: 100%;
  height: 100%;
  text-align: center
}

.amenities_nextBtn,
.gallery_nextBtn {
  position: absolute;
  right: 0
}

.amenities-popup-close,
.gallery-popup-close {
  border: 0;
  color: #fff;
  font-size: 2rem;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .7);
  /* box-shadow: 0 0 4px; */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amenitiesDownloadBtn {
  color: #fff;
  background-color: var(--colorsecondary);
  cursor: pointer
}

.arrowBtn,
.gallery {
  background-color: #fff
}

.amenities-arrows,
.gallery-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none
}

.amenities-popupimage,
.gallery-popupimage {
  width: 60vw;
  height: auto
}

.amenitiesDownloadBtn {
  padding: .5rem 2rem;
  text-align: center;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  position: relative
}

.arrowBtn,
.galleryDownloadBtn {
  border: 0;
  font-weight: 600;
  cursor: pointer
}

.arrowBtn {
  color: var(--colorprimary);
  padding: 0 1rem;
  font-size: 2rem;
  pointer-events: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px #cdcdcd
}

.gallery {
  margin: 2rem 5rem 1rem;
  padding: 1rem;
  border-radius: 10px
}

.galleryCard {
  flex: 0 0 30%;
  box-sizing: border-box;
  transition: transform 1s ease-in-out;
  position: relative
}

.galleryDownloadBtn {
  padding: .5rem 2rem;
  text-align: center;
  background-color: var(--colorsecondary);
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  position: relative
}

.aboutEnquireBtn,
.carouselarrowBtn {
  border: 0;
  font-weight: 600;
  cursor: pointer
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  padding: 0
}

.amenities-popup-text {
  position: absolute;
  /* bottom: 20px; */
  left: 50%;
  transform: translate(-50%);
  font-weight: 600;
  font-size: 20px;
  color: #fff
}

#amenitiesLightboxCounter {
  color: #fff;
  font-weight: 600;
}

.carouselarrowBtn {
  color: #fff;
  font-size: 2rem;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, .7);
  /* box-shadow: 0 0 4px; */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  padding: 1rem 5rem;
  background-color: rgba(255, 255, 255)
}

.aboutlogo {
  text-align: center;
  margin-top: 1rem
}

.aboutpara,
.footer-container {
  text-align: justify
}

.aboutEnquireBtn {
  color: #fff;
  background-color: var(--colorsecondary);
  position: relative;
  padding: .5rem 2rem;
  border-radius: 10px;
  font-size: 1rem
}

.footer-container {
  background-color: #fafafa;
  color: #000;
  padding: 3rem 5rem 5rem;
  line-height: 1.5rem
}

/* .footer-qr-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem
} */

.footer-qr-grid {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem
}

.footer-qr-image {
  width: 100px;
  height: 100px
}

.footer-rera-number {
  margin: 0;
  font-size: .9rem
}

.footer-rera-info {
  font-size: .7rem;
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 1.5rem
}

.footer-rera-item {
  display: flex;
  gap: .5rem
}

.footer-disclaimer-text {
  font-size: .7rem;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  line-height: normal
}

.footer-links-container,
.popupform-subheading {
  font-size: .9rem;
  text-align: center
}

.footer-link,
.footer-rera-link {
  color: #00f
}

.footer-rera-checkmark {
  color: var(--colorprimary);
  font-weight: 600
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 9000
}

.locationWrapper,
.popupform-mobileconatiner,
.popupform-whatsapp {
  display: flex;
  gap: 2%
}

.popupform-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--colorprimary);
  border-radius: 20px;
  padding: 1.5rem 2rem;
  transition: transform .5s ease-in-out;
  background-color: rgba(255, 255, 255, .9);
  width: 250px
}

#popupform-heading {
  color: var(--colorprimary);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0 0
}

.popupform-subheading {
  color: var(--colorprimary);
  font-weight: 600;
  margin: 0 0 1rem
}

.popupform-inputcontainer {
  padding: .5rem 0;
  margin-bottom: .5rem
}

.popupform-name {
  width: 95%;
  border: 0;
  padding: .5rem;
  background-color: transparent;
  color: #000;
  border-bottom: 1px solid var(--colorprimary);
  border-radius: 0
}

.popupform-Submitbtn {
  background: var(--colorprimary);
  color: #fff;
  border: 0;
  padding: .5rem 0;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer
}

.popupform-countrycode,
.popupform-mobile {
  border: 0;
  padding: .5rem;
  color: #000;
  background-color: transparent;
  border-bottom: 1px solid var(--colorprimary);
  border-radius: 0;
  width: 100%;
  box-sizing: border-box
}

.popupform-countrycode {
  flex: 0 0 30%
}

.popupform-mobile {
  flex: 0 0 70%
}

.popupform-close {
  color: var(--colorprimary);
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  padding: .2rem .5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  pointer-events: all;
  font-weight: 700
}

.accordion-arrow,
.locationEnquireBtn,
.mobile-accordionBtn {
  font-weight: 600;
  font-size: 1rem
}

.bottomform-checkboxlabel,
.popupform-checkboxlabel {
  font-size: .6rem
}

.popupform-whatsapp {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: .3rem 0;
  border-radius: 5px;
  border: 0;
  background-color: #4dcd5b;
  color: #fff;
  font-size: 1rem;
  cursor: pointer
}

.connectivity {
  margin: 2rem 5rem 1rem;
  padding: 1rem
}

.map-frame {
  width: 50%;
  flex: 0 0 45%;
  background-color: rgba(255, 255, 255, .9);
  padding: 1rem;
  border-radius: 10px;
  margin: 0 auto;
  height: fit-content;
}
.map-frame iframe {
  /* object-fit: cover; */
  width: 100%;
  border-radius: 10px;
  height: 350px;
}

.accordion-content {
  line-height: 1.5;
  list-style-position: outside;
  /* display: none; */
  /* transform: translateY(-100%); */
  transition: transform .3s ease-in-out;
  border-radius: 0 0 0 10px;
  background-color: #fff;
  /* padding: .8rem; */
  padding: 0;
  margin-top: 0;
  max-height: 0;
  transition: max-height 0.3s ease-in-out ;
  overflow: hidden;
}

.accordion-active,
.locationEnquireBtn,
.mobile-accordionBtn {
  color: #fff;
  background-color: var(--colorprimary)
}

.contentactive {
  /* display: block; */
  transform: translateY(0);
  border: 1px solid var(--colorprimary);
  max-height: 1000px;
}
.connectivity-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 8px 1rem;
  border-bottom: 1px solid #ddd;
}
.connectivity-item:last-child {
  border-bottom: none;
}

.location_connectivity_value{
  color: #000;
}
.location_connectivity_distance {
  color: var(--colorsecondary);
  flex: 0 0 20%;
  text-align: right;
}

.locationEnquire {
  margin-top: 2rem;
  text-align: center
}

.locationEnquireBtn {
  padding: .5rem 2rem;
  text-align: center;
  border: 0;
  border-radius: 10px
}

.mobile-accordionBtn {
  display: block;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: border-radius 0.6s ease-out;
}

.accordion-arrow {
  transition: transform .3s;
  transform: rotate(0)
}

.accordion-wrapper {
  width: 100%;
  margin-top: 1rem
}

.accordion-active {
  border: 1px solid var(--colorprimary);
  border-radius: 10px 10px 0 0
}

.floorplan-overlayBtn,
.priceEnquireBtn {
  color: var(--colorprimary);
  font-weight: 600;
  cursor: pointer
}

.accordion-arrow.accordion-arrow-active {
  transform: rotate(90deg)
}

.contentactive {
  margin-top: 0;
  border-radius: 0 0 10px 10px
}

.accordion-contentWrapper {
  margin-bottom: .5rem
}

.accordion-content ul {
  margin: 0;
  padding: 0 1rem;
}

@media (max-width:1024px) {
  .locationWrapper {
    display: block;
    padding: 0 0 1rem
  }

  .map-frame {
    width: 100%;
    box-sizing: border-box
  }

  .map-frame iframe {
    height: 300px;
  }
}

.Plansandprice {
  margin: 2rem 5rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px
}

.floorCard,
.floorCard img {
  position: relative;
  border-radius: 12px
}

.floorSlide {
  width: 100%;
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  transition: transform 1s ease-in-out;
  justify-content: center;
  padding: .5rem .2rem
}

.floorCard {
  flex: 0 0 25%;
  box-sizing: border-box;
  margin-bottom: 4%;
  box-shadow: 0 0 14px -10px #0e2b4c
}

.floorCard:hover {
  box-shadow: 0 0 14px -5px #0e2b4c
}

.floorCard img {
  width: 100%;
  height: 200px;
  object-fit: contain
}

.floor_nextBtn {
  position: absolute;
  right: 4%
}

.floor-arrows {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 100%;
  pointer-events: none;
  display: none
}

.floorcardImg-container {
  position: relative;
  cursor: pointer
}

.floorplan-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, .3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  opacity: 1;
  transition: opacity .3s ease-in-out
}

.floorplan-overlayBtn {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-wrap: nowrap;
  padding: .5rem 2rem;
  border: 0;
  font-size: 15px;
  font-weight: 500
}

.price-container {
  text-align: center;
  box-sizing: border-box;
  padding: 1rem
}

.priceEnquireBtn {
  padding: .5rem 2rem;
  background: var(--colorsecondary);
  color: #fff;
  position: relative;
  border-radius: 10px;
  border: 0;
  font-size: 1rem
}

.price-typology {
  font-size: 18px;
  font-weight: 600
}

.price-amount {
  font-size: 1rem;
  font-weight: 600
}

.price-carpet {
  margin: .5rem 0
}

.price-amount span {
  font-size: 1.3rem
}

.price-divider {
  width: 50%;
  margin: 0 auto;
  border: 2px solid var(--colorsecondary)
}

.fixed-form-bottom {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 0 10px #cdcdcd;
  padding: .5rem 5rem;
  box-sizing: border-box
}

.bottomform-container {
  display: flex;
  gap: 2%;
  align-items: center;
  justify-content: center
}

.bottomform-inputcontainer {
  flex: 0 0 20%;
  box-sizing: border-box
}

.bottomform-inputcontainer-submit {
  box-sizing: border-box
}

.bottomform-Submitbtn {
  color: #fff;
  background-color: var(--colorprimary);
  border: 0;
  border-radius: 10px;
  padding: 10px 13px;
  font-size: 15px;
  font-family: 'poppins';
  font-weight: 400
}

.bottomform-name {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid var(--colorprimary);
  color: #000
}

.bottomform-mobileconatiner {
  display: flex;
  gap: 1%;
  box-sizing: border-box;
  align-items: end;
  position: relative;
}

.bottomform-countrycode {
  border: 0;
  border-bottom: 1px solid var(--colorprimary);
  /* flex: 0 0 25%; */
  box-sizing: border-box;
  width: 100px;
}
.bottomform-mobile {
  border: 0;
  border-bottom: 1px solid var(--colorprimary);
  /* flex: 0 0 25%; */
  box-sizing: border-box;
  width: 100%;
}

.bottomFormHeading {
  font-weight: 700;
  color: var(--colorprimary);
  margin-bottom: 1%;
  text-align: center
}

.bottomform-checkbox-container {
  display: flex;
  gap: 2%;
  align-items: flex-start
}

.sidedownloadBtn {
  position: fixed;
  bottom: 60%;
  right: 20px;
  transform: rotate(-90deg);
  transform-origin: right center;
  padding: .3rem 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: var(--colorprimary);
  border: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: 4s infinite popin
}

@keyframes popin {

  0%,
  100% {
    transform: translate(-5%, 0) rotate(-90deg)
  }

  50% {
    transform: translate(5%, 0) rotate(-90deg)
  }
}

.samplefloor-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: nowrap
}

    .playButton {
  width: 110px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  transition: .3s;
  /* box-shadow: 0 8px 25px rgba(229, 185, 115, .4) */
  background-color: red;
  background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton:hover {
  /* transform: scale(1.1); */
  box-shadow: 0 12px 35px red
}

.playButton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.videoImage {
  height: 450px;
}
@media (max-width: 768px) {
  .videoImage {
    height: 250px;
  }
}

.tour1-container {
  flex: 0 0 50%;
  position: relative
}

.tour1-container img {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
  position: relative
}

.tour1-container-description {
  text-align: center;
  font-weight: 700;
  margin: 1rem
}

.tour1-container .playButton {
  width: 90px;
  height: 60px;
  transform: translate(-50%, -100%)
}


.sectionHeading-overview {
  font-size: 24px;
  font-weight: 700;
  color: var(--colorsecondary);
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width:600px) {
  .sectionHeading {
    font-size: 25px
  }
}

.paymentschedule-container {
  display: flex;
  justify-content: space-around
}

.payment-container1 {
  flex: 0 0 48%
}

.section-header {
  text-align: center;
  background-color: var(--colorsecondary);
  color: #000;
  opacity: .9;
  font-weight: 550
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse
}

tr {
  border-bottom: 1px solid #fff
}

td {
  padding: 5px 10px
}

.first-col {
  background-color: #f0f0f0;
  width: 70%;
  font-size: small
}

.second-col {
  filter: blur(4px)
}

.paymentEnquireBtn {
  color: #fff;
  background-color: var(--colorsecondary);
  width: 100%;
  padding: .5rem 2rem;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  border-radius: 0 0 10px 10px
}

.payment-table-container {
  max-height: 200px;
  overflow: hidden;
  transition: max-height .4s ease-out
}

.payment-table-container.show-full {
  max-height: 1000px
}

@media (max-width:1024px) {
  #overview {
    display: block;
  }
  .highlightContainer {
    flex-direction: column;
  }
  .fixed-form-bottom {
    display: none;
  }
  #IVR_Mobile {
    display: block;
  }
  #IVR_Mobile {
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 -1px 5px #cfcfcf
  }

  .ivr-container {
    display: flex;
    justify-content: center;
    padding: 0px
  }

  .ivr-phone-container {
    width: 50%;
    box-sizing: border-box
  }

  .ivr-phone-container a {
    width: 100%;
    padding: 10px 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    border-right: 1px solid #000
  }

  .ivr-phone-container a button {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    background: 0 0;
    border: 0;
    padding: 0
  }
  .floorCard {
    flex: 0 0 45%;
  }

  .amenitiesCard,
  .galleryCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 0rem;
    overflow: hidden
  }

  .amenitiesSlide ,.gallerySlide {
    gap: 0;
    margin-left: 0;
  }
}

@media (max-width:768px) {
  .background-binder {
    padding: 0 0 2rem
  }

  .carousel-arrows {
    top: auto;
    bottom: 0;
    transform: translate(-50%,-200%);
    justify-content: center;
    gap: 1rem
  }

  .amenities-popup-text {
    /* transform: translate(-50%, 100%); */
    font-size: 16px
  }

  
  .overviewContainer {
    text-align: justify
  }

  #overview {
    margin: 0 1rem 1rem;
    /* box-shadow: 0 0 14px -10px #0e2b4c; */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: none;
    background-color: #fff;
  }

  .overviewImg {
    margin-top: 0
  }

  .highlightpoints li {
    box-sizing: border-box;
    font-size: 15px;
    flex: 0 0 100%;
  }

  #highlight,
  .projectWalkthorugh {
    margin: 0 1rem;
    box-shadow: none
  }

  .highlightContainer,
  .samplefloor-container {
    flex-wrap: wrap
  }

  .highlight-questionContainer,
  .highlightlist-container,
  .tour1-container {
    flex: 0 0 100%
  }

  .highlight-questionheading p {
    font-size: 15px
  }

  .highlight-questionContainer {
    background-color: #fafafa;
    box-shadow: 0 0 14px -10px #0e2b4c;
    padding-bottom: 1rem
  }

  .amenities {
    padding: 0 0 1rem;
    margin: 1rem
  }

  .amenities-popupWrapper,
  .gallery-popupWrapper {
    /* display: flex;
    align-items: center; */
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .amenities-popup,.gallery-popup {
    width: 90%;
  }
  .amenities-popup-close,
  .gallery-popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0 .8rem;
    border: 0;
    color: #fff
  }

  .amenities-popup-imageholder,
  .gallery-popup-imageholder {
    width: 100%;
    height: 100%;
    text-align: center
  }

  /* .amenitiesCard,
  .galleryCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden
  } */

  .floorCard {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    border: 1px solid #555
  }

  .amenities-popupimage,
  .gallery-popupimage {
    width: 100%;
    height: auto
  }

  .amenities-description,
  .floor-description {
    color: var(--colorprimary);
    background-color: rgb(255, 255, 255, .9);
    z-index: 1000;
    text-wrap: nowrap;
    width: fit-content;
    font-weight: 600
  }

  .amenities-description {
    position: absolute;
    bottom: 0;
    padding: .5rem 1rem;
    border-radius: 0 10px;
    text-align: center;
    margin: 0 0 1rem
  }

  .amenitiesCard:hover .amenities-description {
    border-radius: 0 10px;
    padding: 1rem 2rem
  }

  .amenities-arrows,
  .gallery-arrows {
    left: 1%
  }

  .amenities_nextBtn,
  .gallery_nextBtn {
    right: 2%
  }

  .amenitiesCard,
  .galleryCard {
    padding: 1rem;
  }

  .AnimatePrice {
    margin-top: 1rem
  }

  .gallery {
    padding: 1rem 0;
    margin: 1rem 1rem 0
  }

  .about {
    padding: 2rem 1rem 1rem
  }

  .footer-container {
    padding: 2rem 1rem 5rem
  }

  .connectivity {
    margin: 1rem;
    padding: 0
  }

  .Plansandprice {
    margin: 1rem
  }

  .floorSlide {
    flex-wrap: nowrap;
    gap: 5%;
    padding: 0;
    justify-content: flex-start
  }

  .floor-description {
    padding: .5rem 1rem;
    margin: 0 0 1rem
  }

  

  .tour1-container img {
    height: 200px
  }

  .tour1-container .playButton {
    transform: translate(-50%, -100%)
  }

  .payment-container1 {
    margin-bottom: 1rem
  }

  .section-header {
    background-color: #cdcdcd;
    font-size: .625rem
  }

  tr {
    line-height: 1.125rem
  }

  .first-col {
    font-size: .65em;
    padding: .2rem .625rem
  }
}

@keyframes pulseglow {

  0%,
  20% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2);
    transform: scale(1)
  }

  30% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .1);
    transform: scale(1.08)
  }

  55% {
    box-shadow: 0 0 0 15px transparent;
    transform: scale(1)
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
    transform: scale(1)
  }
}

.form-name:focus,
.form-number:focus {
  outline: 0
}


@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url(/template-7/assets/fonts/Poppins-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Poppins;
  src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
        url(/template-7/assets/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Lato;
  src: url('/assets/fonts/Lato-Bold.woff2') format('woff2'),
        url(/template-7/assets/fonts/Lato-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@media (max-width:768px) {
  #IVR_Mobile,
  .floor-arrows,
  .paymentschedule-container {
    display: block
  }

  .fixed-form-bottom {
    display: none
  }
}
.aboutlogoimage {
  height: auto;
}
.videoImage {
  object-fit: cover;
}